# ansible-managed
[Unit]
Description=SSL/SSH multiplexer improved
After=network.target
After=ufw.target

[Service]
ExecStart=/usr/sbin/sslh --foreground -F /etc/sslh.cfg
# ignore DAEMON_OPTS from /etc/default/sslh
#EnvironmentFile=/etc/default/sslh
KillMode=process
ExecStartPre=/usr/local/sbin/sslh-helper-iptables.sh restart
ExecStopPost=/usr/local/sbin/sslh-helper-iptables.sh stop
# prevent ip addresses exposed in syslog
{% if sslh_verbose |bool %}#{% endif %}StandardOutput=null

[Install]
WantedBy=multi-user.target
